body{
  color: white;
  margin: 0;
  background-color: #F4F9E9;
  font-family: 'Roboto', sans-serif;
}
h1:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #F4F9E9;
  transition: all 0.3s;
}
a:hover{
  color: #FFFFFF;
}
#topDiv{
  background-color: #25283D;
  margin: 0 auto;
  text-align: center;
  padding: 1.5%;
}
#sideDiv{
  background-color: #406E8E;
  color: white;
  float: left;
  width: 5%;
  text-align: center;
  padding: 3%;
  border-bottom-right-radius: 20px;
  height: 100%;
}
#stuffDiv{
  padding: 8.2%;
  width: 100%;
  background-color: #909090;
  text-align: center;
  color: #F4F9E9;
}
.buttonDiv{
  border-radius: 100%;
  padding: 6%;
  background-color: #25283D;
  margin: 4%;
  transition: all 0.3s;
  margin-bottom: 50%;
}
.buttonDiv:hover{
  cursor: pointer;
  background-color: #B4B8AB;
  color: #25283D;
  transform: rotate(360deg);
}
